<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='html_table.css') }}">
    <title>HTML Table</title>
</head>
<body>
    <table class="table table-bordered table-dark table-striped w-50 container">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody> 
            {% for user in table %}
            <tr>
                <td>{{user['First Name']}}</td>  
                <td>{{user['Last Name']}}</td>
                <td>{{user['First Name']}} {{user['Last Name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>




