<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='playground.css') }}">
    <title>Playground</title>
</head>
<body>
    <div class="title">
        <h1>Welcome!</h1>
    </div>
    <div class="container">
        {% for box in range(num) %}
        <div class="box1" style="background-color: {{color}}">
        </div>
        {% endfor %}
    </div>

    
</body>
</html>