*{
    margin: 0;
    padding: 0;
}

h1,
p{
    text-align: center;
}
.container{
    display:flex;
    gap: 50px;
    margin: 0 auto;
}
.box1{
    width: 100px;
    height: 150px;
    background-color: cornflowerblue;
    border-radius: 15px;
    border: 2px solid black;
}