<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <div class="align-content-center">
        <h1 class="text-center align-content-center">Counter</h1>
        <h4 class="text-center">{{count}} times</h4>
    </div>
    <div class="d-flex p-2 flex-direction: center justify-content-between container-fluid w-50 active" role= "group">
        <form action='/addtwo' method="post">
            <input class="w-20 p-3 text-black bg-primary center" type="submit" name="click" value="Click">
        </form>
        <form action='/reset' method="post">
            <input class="w-20 p-3 text-black bg-danger center" type="submit" name="reset" value="Reset">
        </form>
    </div>
</body>
</html>


